<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor="let satellite of satellites; let i = index">
        <td>{{satellites[i].name}}</td>
        <td [ngClass]="{'warning': satellites[i].isSpaceDebris()}">{{satellites[i].type}}</td>
        <td>{{satellites[i].operational}}</td>
        <td>{{satellites[i].orbitType}}</td>
        <td>{{satellites[i].launchDate}}</td>
    </tr>
</table>

